<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <title>Home</title>
    {{ $styles := resources.Get "sass/main.sass" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
</head>
<body>
{{ partial "header" . }}
<main>{{block "main" .}}{{end}}</main>
{{ partial "footer" . }}
</body>
</html>
